In [52]:
from docplex.mp.model import Model
import pandas
import json

In [53]:
df_costo_cliente_planta = pandas.read_excel("./Parámetros.xlsx", sheet_name="COSTO CLIENTE-PLANTA")
df_clientes = pandas.read_excel("./Parámetros.xlsx", sheet_name="DEMANDAS CLIENTES")
df_plantas = pandas.read_excel("./Parámetros.xlsx", sheet_name="COSTO Y CAPACIDAD PLANTAS")

**Conjuntos**

In [54]:
PLANTAS = df_plantas["Planta"].to_list()
CLIENTES = df_clientes["Cliente"].to_list()

**Parámetros**

In [55]:
COSTO_CLIENTE_PLANTA = df_costo_cliente_planta.to_dict("records")
DEMANDA_CLIENTE = df_clientes.set_index(["Cliente"])["Demanda del cliente"].to_dict()
COSTO_ABRIR_PLANTA = df_plantas.set_index(["Planta"])["Costo de abrir planta"].to_dict()
CAPACIDAD_PLANTA = df_plantas.set_index(["Planta"])["Capacidad máxima"].to_dict()

In [56]:
pandas.DataFrame(df_costo_cliente_planta.to_dict("records"))

     Planta  Cliente  Costo de asignar un cliente a un planta
0         1        1                                       29
1         1        2                                       45
2         1        3                                       47
3         1        4                                       81
4         1        5                                        1
..      ...      ...                                      ...
995      20       46                                       28
996      20       47                                       91
997      20       48                                       21
998      20       49                                       54
999      20       50                                       20

[1000 rows x 3 columns]

In [57]:
input_data = {
    "TIEMPO_EJECUCION": 20,
    "PLANTAS": PLANTAS,
    "CLIENTES": CLIENTES,
    "COSTO_CLIENTE_PLANTA": COSTO_CLIENTE_PLANTA,
    "DEMANDA_CLIENTE": DEMANDA_CLIENTE,
    "COSTO_ABRIR_PLANTA": COSTO_ABRIR_PLANTA,
    "CAPACIDAD_PLANTA": CAPACIDAD_PLANTA,
}

In [58]:
output_file = open("./data_plantas_open.json", "w")
json.dump(input_data, output_file)